* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.container {
  display: flex; 
  height: calc(100vh - 80px);
}

a {
  text-decoration: none;
  color: rgb(163,163,163);
}

h3 {
  color: white;
}

/* SIDEBAR */
aside {
  position: relative;
  width: 250px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(163,163,163);
  background-color: rgb(0,0,0);
  padding-left: 28px;
  padding-top: 20px;
}

.logo {
  width: 130px;
}

/* top of sidebar with home, search and library */
.side-nav {
  padding-top: 17px;
}

.home img, .search img, .library img {
  width: 24px;
  height: 28px;
  vertical-align: middle;
} 

.home, .search, .library {
  padding-bottom: 12px;
}

.home {
  color: white;
}

/* playlist, make a playlist  and list of the names of the playlist  */
.side-playlist h3 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 12px;
}

.side-playlist .fas { 
  height: 40px;
  font-size: 20px;
  color: black;
  background-color: rgb(163,163,163);
  vertical-align: middle;
  padding: 10px 12px;
  margin-right: 10px;
}

.side-playlist span {
  font-size: 16px;
}

.side-playlist ul li {
  list-style: none;
  padding: 12px 0;
  overflow: auto;
}

/* bottom of the sidebar */
.end-side {
  position: absolute;
  bottom: 0;
  background-color: black;
  padding-top: 12px;
}

.end-text1 img, .end-text2 img {
  width: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.side-line {
  width: 200px;
  padding: 6px;
  border-bottom: 1px solid rgb(163,163,163);
}

.end-text2 img {
  font-weight: 900;
  background-color: rgba(128,128,128);
  border-radius: 50%;
}

.end-text2 {
  color: white;
  font-size: 14px;
  font-weight: 800;
  padding: 12px 0;
}

/* main content */
main {
  width: calc(100% - 250px);
  background-color: rgb(20,25,34);
  color: rgb(163,163,163);
}

/* top of the main */
.top {
  height: 80px;
  width: 100%;
  background-color: rgb(8,11,18);
}

/* button on the top of the main */
.top button {
  float: right;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(8,11,18);
  padding: 12px 40px;
  border-radius: 20px;
  margin: 15px auto;
}

/* content of the main */
.content {
  height: calc(100% -  80px);
}

/* list of the categories you may choose */
.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category ul li {
  display: inline-block;
  font-weight: 600;
  list-style: none;
  text-transform: uppercase;
  padding: 24px 12px;
}












/* PLAYER */
footer {
  position: relative;
  height: 80px;
  background-color: rgb(40,40,40);
}