* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* all titles */
h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

/* hover a and i*/
.pass-on a:hover, .pass-on i:hover {
  color: white;
}

.side-playlist .fas:hover{
  color: black;
  background-color: white;
}

/* container with in inside sidebar and main */
.container {
  display: flex;
  height: calc(100vh - 100px);
}

a {
  text-decoration: none;
  color: rgb(163,163,163);
}

/* SIDEBAR */
aside {
  height: 100%;
  width: 250px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(163,163,163);
  background-color: rgb(0,0,0);

}

.logo {
  width: 170px;
  margin-left: 28px;
  margin-top: 20px;
}

.logo-small {
  width: 24px;
  margin-left: 8px;
  margin-top: 8px;
  visibility: hidden;
}

.sidebar {
  height: calc(100% - 130px);
  margin-left: 28px;
}

/* top of sidebar with home, search and library */
.side-nav {
  padding-top: 17px;
}

.home img, .search img, .library img {
  width: 24px;
  height: 28px;
  vertical-align: middle;
}

.home, .search, .library {
  padding-bottom: 12px;
}

.home {
  position: relative;
  color: white;
}

.side-nav .active {
  height: 3px;
  width: 30px;
  background-color: yellowgreen;
  transform: rotate(90deg);
  position: absolute;
  left: -40px;
  top: 14px;
}

/* playlist, make a playlist  and list of the names of the playlist  */
.side-playlist {
  max-height: calc(600px - 300px);
}

.side-playlist h3 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 12px;
}

.side-playlist .fas {
  height: 40px;
  font-size: 20px;
  color: black;
  background-color: rgb(163,163,163);
  vertical-align: middle;
  padding: 10px 12px;
  margin-right: 10px;
}

.side-playlist span {
  font-size: 16px;
}

.side-playlist ul li {
  list-style: none;
  padding: 12px 0;
}

.name-playlist {
  height: 300px;
  overflow: clip;
}

/* bottom of the sidebar */
.end-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 55px;
  width: 250px;
  background-color: black;
  padding-top: 12px;
  padding-left: 28px;
}

.end-text1 img, .end-text2 img {
  width: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.side-line {
  width: 200px;
  padding: 6px;
  border-bottom: 1px solid rgb(163,163,163);
}

.end-text2 img {
  font-weight: 900;
  background-color: rgba(128,128,128);
  border-radius: 50%;
}

.end-text2 {
  color: white;
  font-size: 14px;
  font-weight: 800;
  padding: 12px 0;
}

/* main content */
main {
  width: calc(100% - 250px);
  background-color: rgb(20,25,34);
  color: rgb(163,163,163);
  overflow: auto;
}

/* top of the main */
.top {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: rgba(8,0,0, .5);
  z-index: 99;
}

/* button on the top of the main */
.top button {
  position: fixed;
  right: 20px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgba(0,0,0,.5);
  padding: 12px 40px;
  border-radius: 20px;
  margin: 15px auto;
}

button:hover {
  scale: 1.1;
}

/* content of the main */
.content {
  height: calc(100% - 80px);
  padding-top: 80px;
}

/* list of the categories you may choose */
.category {
  display: flex;
  justify-content: center;
  text-align: center;
}

.category ul li {
  display: inline-block;
  font-weight: 600;
  list-style: none;
  text-transform: uppercase;
  padding: 24px 12px;
}

.active-2 {
  height: 3px;
  width: 60px;
  background-color: yellowgreen;
  margin-top: 5px;
  margin-left: 30px;
}

/* first row (recently played) */
.row {
  width: 95%;
  margin: 0 auto;
}

.album {
  position: relative;
  width: 15%;
  margin-right: 20px;
  padding-top: 10px;
}

.cover-album {
  position: relative;
}

.cover-album img {
  width: 100%;
}

.play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  visibility: hidden;
}

.play i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
}

.cover-album:hover .play{
  visibility: visible;
  transition: 1s ease;
  opacity: .5;
}

.album-text h4 {
  text-align: center;
  font-weight: 600;
  padding: 8px 0;
}

.album p:last-child {
  text-align: center;
  font-weight: 600;
  font-size: 13px;
}

.row-one, .row-two , .row-three {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}

.title-row p {
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 24x;
}

.round-album img {
  border-radius: 50%;
}

.round-album .play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  visibility: hidden;
  border-radius: 50%;
}

/* PLAYER */
footer {
  position: relative;
  height: 100px;
  color: rgb(163, 163, 163);
  background-color: rgb(40,40,40);
  z-index: 199;
}

.player {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  padding-top: 16px;
}

.left-foot, .center-foot, .right-foot {
  display: flex;
  align-items: center;
  align-content: center;
}

/* left side of the footer */
.left-foot img{
  width: 68px;
  padding-right: 16px;
}

.song {
  display: inline;
}

.song p {
  font-weight: 600;
  font-size: 10px;
}

.center-foot {
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.icon-center, .time-song {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* icons of the footer */
.icon-center i{
  font-size: 18px;
  padding: 0 20px;
}

.icon-center i:nth-child(3) {
  font-size: 40px;
}

.icon-center, .icon-right {
  color: white;
}

.icon-left {
  padding: 0 30px;
}

.icon-foot i {
  padding-right: 14px;
}

/* bar of the time of the song */
.time-song {
  padding-top: 14px;
}

.time-song .time {
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding-left: 32px;
  padding-right: 32px;
}

/* bars of the time of the song and the volume*/
.bar {
  width: 450px;
  height: 6px;
}

.volume-bar {
  width: 250px;
}
.bar, .bar2, .volume-bar, .volume-bar2 {
  height: 6px;
  background-color: rgb(163, 163, 163);
  border-radius: 10px;
}

.bar2 {
  position: relative;
  width: 100px;
  background-color: white;
  position: absolute;
}

.volume-bar2 {
  position: relative;
  width: 50px;
  background-color: white;
  position: absolute;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  visibility: hidden;
}

.bar2 .dot {
  position: absolute;
  left: 100px;
  top: -3px;
}

.volume-bar2 .dot {
  position: absolute;
  left: 50px;
  top: -3px;
}

.bar2:hover, .volume-bar2:hover{
  background-color: yellowgreen;
}

.bar2:hover .dot, .volume-bar2:hover .dot {
  visibility: visible;
}

/* MEDIA QUERY */
@media (max-width:992px) {
  .container {
    height: calc(100vh - 90px);
  }

  .end-side {
    height: 24px;
  }

  .category ul li {
    font-size: 14px;
    padding: 14px 10px;
  }

  .active-2 {
    height: 2px;
    width: 30px;
  }

  .row h2 {
    padding-top: 32px;
  }

  .album {
    min-width: 30%;
    margin-right: 16px;
    padding-top: 12px;
  }

  .album-text h4 {
    font-size: 14px;
  }

  .album-text {
    padding-bottom: 16px;
  }
  
  footer {
  height: 90px;
  }
  
  h5 {
    font-size: 13.5px;
  }

  .song p {
    font-size: 10px;
  }
  
  .player {
    padding-top: 10px;
  }
  
  .left-foot img{
    width: 60px;
    padding-right: 8px;
  }
  
  .song p {
    font-size: 10px;
  }
  
  .icon-center i{
    font-size: 15px;
    padding: 0 14px;
  }
  
  .icon-center i:nth-child(3) {
    font-size: 36px;
  }
  
  .icon-left {
    padding-left: 18px;
    padding-right: 0;
  }
  
  .icon-foot {
    font-size: 16px;
  }
  
  .icon-foot i {
    padding-right: 12px;
  }
  
  .time-song .time {
    font-size: 13px;
    padding-left: 18px;
    padding-right: 16px;
  }
  
  .bar {
    width: 240px;
    height: 3px;
  }
  
  .volume-bar {
    width: 70px;
  }
  
  .bar, .bar2, .volume-bar, .volume-bar2 {
    height: 5px;
  }
  
  .bar2 {
    width: 80px;
  }
  
  .volume-bar2 {
    width: 30px;
  }
  
  .dot {
    width: 11px;
    height: 11px;
  }
  
  .bar2 .dot {
    position: absolute;
    left: 80px;
    top: -3px;
  }
    
  .volume-bar2 .dot {
    position: absolute;
    left: 30px;
    top: -3px;
  }
}

@media (max-width:768px) {
  .container {
    height: calc(100vh - 80px);
  }

  .end-side {
    height: 24px;
  }

  .category ul li {
    font-size: 12px;
    padding: 14px 10px;
  }

  .active-2 {
    height: 2px;
    width: 30px;
  }

  .album {
    min-width: 44%;
    margin-right: 16px;
    padding-top: 12px;
  }
  
  footer {
  height: 80px;
  }
  
  h5 {
    font-size: 12px;
  }
  
  .player {
    padding-top: 12px;
  }
  
  .left-foot img{
    width: 50px;
    padding-right: 8px;
  }
  
  .song p {
    font-size: 10px;
  }
  
  .icon-center i{
   font-size: 14px;
    padding: 0 14px;
  }
  
  .icon-center i:nth-child(3) {
    font-size: 34px;
  }
  
  .icon-left {
    padding-left: 18px;
    padding-right: 0;
  }
  
  .icon-foot {
    font-size: 14px;
  }
  
  .icon-foot i {
    padding-right: 8px;
  }
  
  .time-song .time {
    font-size: 12px;
    padding-left: 18px;
    padding-right: 16px;
  }
  
  .bar {
    width: 200px;
    height: 3px;
  }
  
  .volume-bar {
    width: 80px;
  }
  
  .bar, .bar2, .volume-bar, .volume-bar2 {
    height: 3px;
  }
  
  .bar2 {
    width: 50px;
  }
  
  .volume-bar2 {
    width: 20px;
  }
  
  .dot {
    width: 8px;
    height: 8px;
  }
  
  .bar2 .dot {
    position: absolute;
    left: 50px;
    top: -3px;
  }
    
  .volume-bar2 .dot {
    position: absolute;
    left: 20px;
    top: -3px;
  }
}


@media (max-width:576px) {
  .container {
    height: calc(100vh - 80px);
  }
  
  aside {
    width: 50px;
  }

  .logo {
    display: none;
  }

  .logo-small {
    visibility: visible;
  }

  .sidebar {
    margin-left: 8px;
  }

  .home span, .search span, .library span, .side-nav .active, .side-playlist, .side-line, .end-text1 span, .end-text2 span{
    display: none;
  }

  .end-side{
    height: 100px;
    width: 50px;
    padding-left: 12px;
  }

  main {
    width: calc(100% - 50px);
  }

  .top {
    height: 60px;
    width: 100%;
  }

  .top button {
    padding: 8px 30px;
  }

  .content {
    height: calc(100% - 80px);
    padding-top: 60px;
  }

  h2 {
    padding-top: 24px;
  }

  .category ul li {
    font-size: 14px;
    padding: 16px 12px;
  }

  .active-2 {
    height: 2px;
    width: 40px;
  }

  .album {
    min-width: 40%;
    margin-right: 16px;
    padding-top: 12px;
  }

  footer {
  height: 80px;
  }

  h5 {
    font-size: 10px;
  }

  .player {
    width: 98%;
    padding-top: 8px;
  }

  .left-foot img{
    width: 38px;
    padding-right: 8px;
  }

  .song p {
    font-size: 8px;
  }

  .icon-center i{
    font-size: 12px;
    padding: 0 10px;
  }

  .icon-center i:nth-child(3) {
    font-size: 28px;
  }

  .icon-left {
    padding: 0 12px;
  }

  .icon-foot {
    font-size: 12px;
  }

  .icon-foot i {
    padding-right: 7px;
  }

  .time-song .time {
    font-size: 8px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .bar {
    width: 170px;
    height: 3px;
  }
  .volume-bar {
    width: 40px;
  }
  .bar, .bar2, .volume-bar, .volume-bar2 {
    height: 3px;
  }

  .bar2 {
    width: 30px;
  }

  .volume-bar2 {
    width: 10px;
  }

  .dot {
    width: 8px;
    height: 8px;
  }

  .bar2 .dot {
    position: absolute;
    left: 30px;
    top: -3px;
  }
  
  .volume-bar2 .dot {
    position: absolute;
    left: 10px;
    top: -3px;
  }


}

